@import 'vars';
@import 'fonts';

.button,
.button-blue,
.button-ghost-blue,
.accordion-expander,
.font-xlarge,
.font-medium,
.form-label,
.form-hint,
.card .card-inner .title,
a.labelled-card .card-header h3,
a.labelled-image-card .card-header h3 {
  font-family: inherit;
}

// character height in these languages affects the size of the header
// so change padding to accommodate
:lang(ja),
:lang(zh) {
  #invest-header .header-links-list li a {
    padding: 15px 15px 15px;
  }
}

:lang(ar) {
  #invest-header .header-links-list li a {
    padding: 15px 15px 19px;
  }
}

:lang(de) {
  h1, h2, h3, h4, h5, h6 {
    hyphens: auto;
  }
}

:lang(ar) {
  body,
  main,
  h1, h2, h3, h4, h5, h6,
  .hero h1 {
    font-family: 'ge-ss', sans-serif;
  }

  #invest-footer .footer-copyright {
    font-family: $brand-font;
  }

  .footer-main-links-list {
    hyphens: auto;
  }
}

:lang(ja) .industry-pullout {
  .column-third {
    display: none;
  }
}
