{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}

{% block head_title %}Invest in Great Britain{% endblock %}

{% block head_js %}
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/dit.js' %}"></script>
  <script src="{% static 'js/dit.class.modal.js' %}"></script>
  <script src="{% static 'js/dit.components.languageSelector.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block body_header %}
  {% include 'core/includes/header.html' %}
  {% include 'directory_components/header_beta_banner.html' %}
{% endblock %}

{% block body_footer %}
  {% include 'core/includes/footer.html' %}
{% endblock %}
