{% extends 'core/base_cms.html' %}
{% load static from staticfiles %}
{% load add_export_elements_classes add_anchors add_href_target from cms_tags %}

{% block content %}

{% include 'directory_components/hero.html' with hero_text=page.title %}

<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ page.content|add_export_elements_classes|add_anchors|add_href_target:request|safe }}
      </div>
    </div>
  </div>
</section>

{% endblock %}
