
// Home/landing page

@import '../partials/vars';
@import '../partials/mixins';

.invest-landing-page {
  .landing-page-accordions {
    padding-top: $spacing-1;
  }

  .landing-page-how-we-help {
    font-size: 17px;

    .container:after {
      padding-bottom: $spacing-3;
    }

    p {
      margin-bottom: $spacing-3;
    }

    ul {
      width: 100%;
    }

    .icon {
      height: 64px;
      padding-bottom: $spacing-4;
      margin-bottom: $spacing-4;
      @include red-underline
    }

    .contact-button {
      @extend .icon;
      border-bottom: 0;
    }
  }

  :lang(ar) {
    .banner-container[dir=rtl] {
      .information-banner .banner-content > * {
        padding-left: 0;
        padding-right: 15px;
      }
    }
  }

  @media (max-width: 768px) {
    .landing-page-setup-guide,
    .landing-page-benefits {
      .card-grid {
        flex-direction: column-reverse;
      }
    }
  }

  @media (min-width: 640px) {
    .column-third {
      width: 50%;
    }
  }

  @media (min-width: 1000px) {
    .column-third {
      width: calc(100% / 3);
    }
  }

  @media (max-width: 767px) {
    .landing-page-accordions .column-two-thirds {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    .landing-page-how-we-help .help-section {
      min-height: auto;
      clear: both;
      padding-bottom: $spacing-4;

      &:last-child {
        padding-top: $spacing-3;

        p {
          margin-left: 0;
          width: 100%;
        }

        .contact-button {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      p,
      .icon {
        float: left;
      }

      p {
        width: calc(100% - 64px - 30px);
        margin-left: $spacing-3;
      }
    }
  }

  .invest-breadcrumbs {
    padding-bottom: 0;
  }

  @mixin landingPageSection {
    padding: $spacing-2 0;
  }

  .landing-page-section:nth-child(odd) {
    @include landingPageSection;
  }

  .landing-page-section:nth-child(even) {
    @include landingPageSection;
    background: $stone-40;
  }

  .center_vertical {
    margin-top: auto;
    margin-bottom: auto;
  }

  .flex-shrink-0 {
    flex-shrink: 0;
  }
}

