{% extends '404.html' %}
{% load static %}

{% block head_css %}
  {{ block.super }}
  <style>
    body {
      margin: 0;
    }
  </style>
{% endblock %}

{% block body_header %}
    {% include 'core/header.html' %}
{% endblock %}

{% block body_footer %}
    {% include 'core/footer.html' %}
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <h1 class="heading-xlarge">This page cannot be found</h1>
    <ul class="list list-bullet">
        <li>If you entered a web address please check it’s correct.</li>
        <li>If you followed a link here, <a class="link" href="{{ directory_components_urls.contact_us }}">let us know</a>.</li>
        <li><a class="link" href="{% url 'index' %}">Go to the homepage</a></li>
    </ul>
  </div>
</section>
{% endblock %}
