{% extends 'core/includes/plain_card_grid.html' %}
{% load title_from_heading from cms_tags %}
{% load ga360_tracker from directory_components %}

{% block card_content %}
    {% url url_name card.meta.slug as card_url %}

    {% ga360_tracker ga_tag ga-value=card.heading|title_from_heading %}
        {% include 'directory_components/card.html' with img_src=card.hero_image.url img_alt='' url=card_url title=card.heading|title_from_heading description=card.description %}
    {% endga360_tracker %}
{% endblock %}
